.wrapper_FormCustomers{
    width: auto;
}
.dados_pessoais, .endereco, .cliente{
    background-color: rgba(128, 128, 128, 0.452);
    width: 100%;
    margin: auto;
    text-align: left;
}
.wrapper_FormCustomers label,input,select{
    margin: 8px;
    padding: 3px;
    font-size: 14px;
    border: none;
    border-radius: 3px;
}
.wrapper_FormCustomers h3{
    background-color: black;
    color: aliceblue;
    padding: 5px;
    margin: 3px;
}
.dados_pessoais input[id=id] {
    width: 3.5em;
}
.dados_pessoais input[id=nome] {
    width: 20em;
}
.dados_pessoais input[id=sobrenome] {
    width: 45em;
}
.dados_pessoais input[id=email] {
    width: 30em;
}
.dados_pessoais input[id=contato] {
    width: 8em;
}
.dados_pessoais input[id=nascimento] {
    width: 6em;
}
.dados_pessoais input[id=cpf] {
    width: 9em;
}


.endereco input[id=rua]{
    width: 45em;
}
.endereco input[id=numero]{
    width: 4em;
}
.endereco input[id=cidade]{
    width: 31em;
}
.endereco input[id=estado]{
    width: 3em;
}
.endereco input[id=cep]{
    width: 7em;
}


.cliente input[id=compra]{
    width: 35em;
}
.cliente select[id=perfil]{
    width: 20em;
}

.cliente input[id=limite]{
    width: 10em;
}







.wrapper_modalHistorico{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(63, 62, 62, 0.901);
    left: 0px;
    top: 0px;
}

.btn_historico{
   cursor: pointer;
   width: 10em;
   height: 3em;
}

.header_resume{
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
}

.header_resume h1{
    color: aliceblue;
}

.area_resumo{
    background-color: aliceblue;
    padding: 1em;
}

.table_resume{
    border: 1px solid;
    width: 95%;
    margin: auto;
}

.table_resume tr, td{
    border: 1px solid;
}


